html {
    background-color: #121420;
  }
  
  body {
    max-height: 520px;
    height: auto;
    padding: 10px;
  }
  
  /* Body size */
  .body-space {
    display: grid;
    grid-template-columns: auto 20%;
  }
  
  /* Titulo principal */
  
  #title {
    font-style: italic;
    text-align: center;
    background-color: cyan;
    margin: 0;
    padding: 0.6em;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
  }
  
  .space-calc {
    background-color: #1b2432;
    padding: 6px;
    height: 1.1em;
    font-size: 110px;
    text-align: right;
  }
  
  #window {
    height: 95%;
    color: #fff;
  }
  
  .bottons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6px;
    /* Colores */
  }
  
  .bottons input {
    height: 80px;
    background-color: #2c2b3c;
    border: 2px solid #121420;
    font-size: 60px;
    color: #fff;
  }
  /* hover to bottons */
  .bottons input:hover {
    filter: brightness(130%);
  }
  
  /* two spaces grid */
  .two-grid {
    grid-column-end: span 2;
  }
  
  .full-grid {
      grid-column-end: span 4;
  }
  /* Historial here */
  #space-history{
    grid-template-rows: 16.6%;
    text-align: center;
    margin-left: .4em;
    color: #fff;
  }
  
  #space-history header *{
    font-size: 28px;
    justify-content: center;
  }
  
  #space-history header img{
    margin-left: 0.78%;
  }
  
  #cont-hs{
    overflow-y: auto;
    max-height: 600px;
  }
  
  #space-history .ls{
    max-height: 1.3em;
    background-color: #37354b;
    font-size: 20px;
  }